.levels{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 20vh;
    background-color: rgb(40,40,40);
    border: 5px solid rgb(64,64,64);
    flex-wrap: wrap;
    color: white;
    border-radius: 20px;
}
.level_button{
    color: white;
    margin-left: 0.15vw;
    border: 2px solid black;
    border-radius: 15px;
    width: 15vw;
    height: 5vh;
    max-height: 5vh;
    cursor: pointer;
    font-size: 15px;
    background-color: #8B0000;
}
.level_button:hover{
    border: blue 2px solid;
    color: white;
    font-size: 20px;
}
.active{
    background: #013220;
    border: 2px blue solid;
}

.selectError{   
    background-color:#b34045;
    color: black;
    border-radius: 15px;
    max-width: 50vw;
    max-height: 5vh;
    min-width: 50vw;
    min-height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.close_btn{
    color: black;
    margin-left: 0.15vw;
    border: 2px solid black;
    border-radius: 15px;
    cursor: pointer;
    margin: 5px;
}
.close_btn:hover{
    color: aqua;
    border: 2px solid aqua;
}