.container{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 85vw;
    min-height: 20vh;
    max-height: 50vh;
    background-color: rgb(40,40,40);
    border: 5px solid rgb(64,64,64);
    flex-wrap: wrap;
    color: white;
    flex-direction: column;
    border-radius: 20px;
}
