@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
$blue: #3498db;
$orange : #FF6314;
$green : #90EE90;
$yellow:  #FFC229;
.container{
    min-width: 90vw;
    max-width: 90vw;
    min-height: 80vh;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
}
.containerOfSelectors{
  min-width: 90vw;
  max-width: 90vw;
  min-height: 20vh;
  max-height: 20vh;
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
  flex-direction: row;
  padding-top: 2vh;
}
.containerOfQuestion{
  min-width: 90vw;
  max-width: 90vw;
  min-height: 58vh;
  max-height: 58vh;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.glowButton{
  height: 5vh;
  border-color: $blue;
  color: black;
  transition: all 150ms ease-in-out;
  border-radius: 10px;
  
  &:hover {
    box-shadow: 0 0 10px 0 $blue inset, 0 0 10px 4px $blue;
  }
}
.activeBtn{
  background-color: #FFC229;
  box-shadow: #FF6314 0 -6px 8px inset;
}
.completedQuestion{
  background-color : $green;
}
/* CSS */
.buttonAnswer {
  appearance: none;
  background-color: #FFFFFF;
  border-radius: 40em;
  border-style: none;
  box-shadow: #ADCFFF 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -.24px;
  margin: 1vh;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  min-width: 60vw;
  max-width: 80vw;
  max-height: 3.5vh;
}
.buttonAnswerActive{
  background-color: #FFC229;
  box-shadow: #FF6314 0 -6px 8px inset;
  transform: scale(1.125);
}
.buttonAnswer:hover {
  background-color: #FFC229;
  box-shadow: #FF6314 0 -6px 8px inset;
}

.buttonAnswer:active {
  transform: scale(1.025);
}
.textMaxSymbols{
  text-overflow: ellipsis;
  max-width: 80vw;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;  
}
@media (min-width: 15vw) {
  .buttonAnswer{
    font-size: 1rem;
    padding: .75rem 2rem;
  }
}
.endBtn{
    margin-top: 15vh;
    border-radius: 15px;
    height: 5vh;
    width: 15vw;
    color: white;
    background-color: $orange;
}
.endBtn:hover{
  border: 2px solid aqua;
}