
.category-text{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 50vw;
    text-overflow: ellipsis;
    font-size: 17px;
    overflow: hidden;
}


.categories{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(40,40,40);
    border: 5px solid rgb(64,64,64);
    flex-wrap: wrap;
    border-radius: 20px;
    width: 85vw;
    min-height: 25vh;
    max-height: 50vh;
}
.selectError{   
    background-color:#b34045;
    border-radius: 15px;
    width: 60vw;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.close_btn{
    color: black;
    margin-left: 0.15vw;
    border: 2px solid black;
    border-radius: 15px;
    cursor: pointer;
    margin: 5px;
}
.close_btn:hover{
    color: aqua;
    border: 2px solid aqua;
}