.modal{
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000000;
    display: none;
    position: fixed;
}


.modal_content{
    background-color: rgb(20,20,20);
    padding: 25px;
    border-radius: 16px;
    width: 80vw;
    height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.active{
    display: flex;
    justify-content: center;
    align-items: center;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.endBtn{
    color: white;
    align-self:flex-end;
    justify-self:flex-start;
    margin-bottom: 2vh;
    border-radius: 20px;
}
.endBtn:hover{
    color: red;
    transform: scale(1.15)
}