.sideBar{
	width: 80vw;
	height: 10vh;
	background-color: rgba(0,0,0,0.8);
	margin-bottom: 10vh;
	border-radius: 20px;
	flex-direction: row;
}
.btnSetting{
	height: 5vh;
	margin: 2vh 0.5vw;
	border-radius: 20px;
	background-color: black;
	color: white;
	border: 1px solid white;
}
.btnSetting:hover{
	border : 1px solid blue;
}
.active{
	background-color: darkgreen;
	border : 1px solid blue;
}