.sideBar{
	width: 85vw;
	height: 10vh;
	background-color: rgba(64,64,64);
	margin-bottom: 10vh;
	border-radius: 20px;
	align-items: center;
	border: solid 2px rgb(40,40,40);
	display: flex;
	justify-content: center;
}