

.containerOfSelectors{
    min-width: 95vw;
    max-width: 95vw;
    height: 12vh;
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    flex-direction: row;
    padding-top: 2vh;
  }
